################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstBank/bin/Debug
/MyFirstBank/obj/Debug
